.nodered/flows_TroNine-PC.json
[{"id":"6bbc5199e79cbf16","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"a759bcb254a93815","type":"tab","label":"Flow 2","disabled":false,"info":"","env":[]},{"id":"a1f38f82f0ed96d5","type":"seal","name":"seal"},{"id":"bcdcdd09b05a2e92","type":"seal","name":"seal"},{"id":"d43fedc4e756478a","type":"context","name":"seal-context","polyModulus":"8192","coeffModulus":"{\"value\": [60, 40, 40, 60]}","scale":"40","sealNode":"7b87df480f33ed8a","importData":"","isUpload":false},{"id":"d565197fa7947f43","type":"publicKey","name":"publicKey","originContextNode":"d43fedc4e756478a","publicKeyBase64":"","isUpload":false},{"id":"1082221c97d98836","type":"secretKey","name":"secretKey","originContextNode":"ce9c0f66eabc05b0","secretKeyBase64":"","isUpload":false},{"id":"ce9c0f66eabc05b0","type":"context","name":"seal-context2","polyModulus":"8192","coeffModulus":"{\"value\": [60, 40, 40, 60]}","scale":"40","sealNode":"","importData":"","isUpload":false},{"id":"0bd416ac6c4c82fd","type":"publicKey","name":"publicKey2","originContextNode":"ce9c0f66eabc05b0","publicKeyBase64":"","isUpload":false},{"id":"becd97e78e878794","type":"inject","z":"6bbc5199e79cbf16","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"100","payloadType":"num","x":130,"y":100,"wires":[["7d896b474866b5b9"]]},{"id":"7d896b474866b5b9","type":"encrypt","z":"6bbc5199e79cbf16","name":"encrypt","context":"ce9c0f66eabc05b0","publicKey":"0bd416ac6c4c82fd","x":340,"y":100,"wires":[["99bf859b950553e5"]]},{"id":"99bf859b950553e5","type":"decrypt","z":"6bbc5199e79cbf16","name":"decrypt","context":"ce9c0f66eabc05b0","secretKey":"1082221c97d98836","showToDebug":true,"x":580,"y":100,"wires":[[]]},{"id":"c1506c60b24b228f","type":"status","z":"a759bcb254a93815","name":"","scope":null,"x":180,"y":60,"wires":[[]]}]